@charset "UTF-8";

.container {
display: grid;
grid-template-rows: repeat(5, 80px 40px 200px 40px);
grid-template-columns: repeat(4, 200px 150px);

}

.caixa1 {
    background-color: lightblue;
    grid-area: 1 / 1 /  2 / 4 ;
   
}

.caixa2 {
    background-color: lightgrey;
    grid-area:2 / 1 / 3/ 4;
}

.caixa3 {
    background-color: blue;
    grid-area: 3/ 1 / 5 / 3;
}

.caixa4 {
    background-color: aqua;
    grid-area: 3 / 3 / 5 / 4;
}

.caixa5 {
    background-color: rgb(20, 112, 187);
    grid-area: 5/ 1/ 5/ 4;
}