*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"DroidSans",sans-serif ;
    src: url(../assets/droid-sans/DroidSans.ttf);
}

body{
    background-color:#FBFAFB;
}

ul{
    display: flex;
    list-style:none;
    justify-content: center;
    gap: 60px;
    align-items: center;
    margin:32px 0;
    
}


.logo{
    width: 120px;
}


nav{
    display: flex;
    justify-content: center;
    
  
}


a:hover{
    color: #c72038;   
    text-decoration: none;
    transition: all 300ms;


 
}
a{
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    color: #02233c;
    font-size: 20px;
    font-weight: 600;
}


h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    line-height: 33px;
    font-weight: 700;
   
}
h1,h2{

    color: #02233c;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 32px;
}

p{
    font-size: 20px;
    line-height: 32px;
    color: #021727;
    font-family: "DroidSans",sans-serif;
}

main{
    max-width: 1110px;
    margin:0 auto;
}

article{
    max-width: 732px;
    margin:64px auto ;
}

footer{
    background-color: #01213a;
    padding: 42px 0;
}

footer div{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    

}

span{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: "Titillium",sans-serif;
}
  




