@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(238, 223, 223);
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(53, 53, 53);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: #f8f8f8;
    color: black;

}

menu {
    display: block;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 84, 84);
    color: white;
    text-align: center;
    border-top: 2px solid gray;

}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    -webkit-column-width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;

}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
