@charset "URF-8";

/* Configurações Gerais */

* {
    margin: 0px;
    padding-inline-start: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgb(78, 78, 78);
    padding: 10px;
}